/* General */
* { box-sizing: border-box; }

:root {
    --grey: #7d7f84;
    --dark: #0e121c;
    --red: #fd0016;
    --font-family-text: 'Open Sans', sans-serif;
    --font-weight-title1: 700;
    --font-weight-title2: 600;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

body {
    background: var(--dark);
    color: var(--grey);
    font-family: var(--font-family-text);
    font-size: 16px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--grey);
}

.container {
    display: flex;
    height: 100%;
}

/* Navigation */
.nav-container {
    padding: 1rem 3rem 1rem 3rem;
    border-right: 1px solid rgba(125, 127, 132, .3);
}

.nav-container h1 {
    font-size: 1.2rem;
    font-weight: var(--font-weight-title2);
    color: #fff;
    margin-bottom: 2rem;
}

.nav-container h1 span {
    color: var(--red);
}

.nav-group {
    margin-bottom: 4rem;
}

.nav-group span {
    display: block;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.nav-group ul li {
    font-size: .9rem;
    margin-bottom: 1.35rem;
}

.nav-group ul li i {
    margin-right: .75rem;
}

.nav-group ul li.active {
   color: #fff;
}
